      /*---GENERAL---*/

* {
  box-sizing: border-box;
  font-family: Open Sans;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

#title:hover,
#body:hover {
  border-color: #6e646b;
}

input::placeholder,
textarea::placeholder {
  transition: all .2s ease;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: white;
}

textarea,
input {
  transition: all .2s ease;
}

textarea {
  padding: 5px;
}

/*---INPUTS---*/
input,
textarea,
.idea-card {
  border-radius: 5px;
  border: solid #D2CCCD 3px;
  font-size: 25px;
  font-weight: 300;
  height: 50px;
  padding-left: 10px;
  resize: none;
  width: 100%;
}


      /*---HEADER---*/

header {
  background: #524649;
  display: flex;
  align-items: center;
  height: 105px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-items {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  width: 35%;
}

#logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

h1 {
  color: #FFFFFF;
  font-size: 55px;
}

h1 span {
  color: #B2A1B1;
}

div.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.burger {
  width: 100%;
  height: 20%;
  background: #D2CCCD;
  border-radius: 2px;
  transition: all .2s ease;
}

div.hamburger:hover .burger {
  /*background: #b6b0b1;*/
  background: #6e646b;
}

.search-bar {
  border-radius: 5px 0px 0px 5px;
  transition: all .2s ease;
  width: 370px;
}

#search-btn {
  background: #D2CCCD;
  border-radius: 0px 5px 5px 0px;
  border: solid #D2CCCD 3px 3px 3px 0px;
  color: #FFFFFF;
  font-size: 25px;
  height: 50px;
  margin-right: 15px;
  text-align: center;
  transition: all .2s ease;
  width: 50px;
}

.search-bar-ghost {
  display: flex;
}

.search-bar-ghost:hover #search-btn,
.search-bar-ghost:hover .search-bar {
  border-color: #b6b0b1;
}

.search-bar-ghost:hover #search-btn {
  background: #b6b0b1;
}

#search-btn:hover {
  color: #524649;
}

.search-bar::placeholder {
  transition: all .2s ease;
}

.search-bar:focus::placeholder {
  color: white;
}

section#idea-gen,
section.content {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  width: 100%;
}

form.content {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 56%;
}

#title,
#body {
  height: 55px;
  margin-top: 8px;
}

#body {
  display: flex;
  height: 150px;
  text-align: ;
}

label {
  color: #7C7879;
  margin-top: 32px;  
}

#save-btn {
  background-color: #6E646B;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 800;
  height: 60px;
  margin-top: 20px;
  transition: all .2s ease;
}

#save-btn:hover {
  background: #524749;
  color: #eaeaea;
}

section.content {
  align-items: center;
  background: #FFFFFF;
  flex-direction: column;
}


      /*---IDEA CARDS---*/

article.idea-card {
  height: 100%;
  width: 56%;
}

.card-field {
  border-radius: 5px;
  border: solid #D2CCCD 3px;
  margin-top: 30px;
  width: 56%;
  transition: all .2s ease;
}

.card-field:hover,
.card-field:hover .div-bottom {
  border-color: #6e646b;
}

.div-top {
  padding: 15px;
}

.div-top div p {
  margin-top: 5px;
}

.div-bottom {
  align-items: center;
  border-top: solid #D2CCCD;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 5px;
}

#card-footer-left {
  align-items: center;
  display: flex;
  width: 45%;
}

#card-footer-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 45%;
}

button#down-btn,
button#up-btn,
button#delete-btn {
  border-radius: 50px;
  border: hidden;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  position: relative;
}

button#down-btn:hover,
button#up-btn:hover,
button#delete-btn:hover {
  /*background-color: #b6b0b1;*/
  background-color: white;
}

div.overlay {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s ease;
}

div.overlay:hover {
  opacity: 0.2;
}

.card-field div aside p {
  font-size: 20px;
  font-weight: 800;
  margin-left: 10px;
}
